<tal:block tal:define="vok context/is_view_ok">
  <p tal:condition="not:vok" i18n:translate="">You are not
  allowed to view this page.</p>

  <tal:if condition="context/is_view_ok">
   <tal:def define="batch request/batch;">
    <table width="100%"
           tal:define="template string:help-list"
           metal:use-macro="templates/help/macros/batch_navi">
      <tr class="navigation">
       <th><a href="#">&lt;&lt; previous</a></th>
       <th i18n:translate="">1..25 out of 50</th>
       <th><a href="#">next &gt;&gt;</a></th>
      </tr>
    </table>
    <form>
    <table class="classhelp"
           tal:define="props python:request.form['properties'].value.split(',');
                       legend templates/help/macros/legend;">
      <thead>
        <tr metal:use-macro="legend">
          <th>&nbsp;<b>x</b></th>
          <th tal:repeat="prop props" tal:content="prop" i18n:translate=""></th>
        </tr>
      </thead>
      <tfoot tal:condition=true>
        <tr metal:use-macro="legend" />
      </tfoot>
      <tbody>
       <tr tal:repeat="item batch">
         <tal:block tal:define="attr python:item[props[0]]" >
           <td>
             <input name="check"
             onclick="switch_val(text_field, this);" type="checkbox"
             tal:attributes="value attr; id string:id_$attr" />
             </td>
             <td tal:repeat="prop props">
                 <label class="classhelp-label"
                        tal:attributes="for string:id_$attr"
                        tal:content="structure python:item[prop]"></label>
             </td>
           </tal:block>
         </tr>
       </tbody>
     </table>
   </form>
     </tal:def>
     </tal:if>
     
     <pre tal:content=request tal:condition=false />
     <script type="text/javascript"><!--
       parent.submit.document.frm_help.cb_listpresent.checked=true;
       reviseList_framed(document.dummyform, text_field)
     //--></script>
</tal:block>
<!-- SHA: 667e2626bfea9fec5378aa7d397642c53b5eb236 -->
