<tal:block metal:use-macro="templates/help/macros/frame">
<tal:block metal:fill-slot="content">
<tal:block tal:condition="python:request.form.has_key('property')">
 <form name="frm_help" action="#">
     <table class="classhelp"
            tal:define="props python:request.form['properties'].value.split(',');
                        legend templates/help/macros/legend;
                        navigation templates/help/macros/batch_navi;
			batch request/batch;">
      <thead>
       <tr metal:use-macro="legend"/>
       <tr metal:use-macro="navigation"/>
      </thead>
      <tfoot>
       <tr metal:use-macro="navigation"/>
       <tr metal:use-macro="legend"/>
      </tfoot>
       <tr tal:repeat="item batch">
         <tal:block tal:define="attr python:item[props[0]]" >
           <td tal:repeat="prop props">
               <label class="classhelp-label"
                      tal:attributes="for string:id_$attr"
                      tal:content="structure python:item[prop]"></label>
           </td>
         </tal:block>
       </tr>
     </table>

 </form>
   <script type="text/javascript"><!--
var text_field = document.frm_help.text_preview;
original_field=form[field].value;
text_field.value=original_field;
//--></script>
 </tal:block>
 <tal:block tal:condition="python:not request.form.has_key('property')">
 <tal:block tal:define="batch request/batch;
                        props python:request.form['properties'].value.split(',')">
     <table width="100%">
      <tr class="navigation">
       <th>
        <a tal:define="prev batch/previous" tal:condition="prev"
           tal:attributes="href python:request.indexargs_url(request.classname,
           {'@template':'help', 'property': request.form['property'].value,
            'properties': request.form['properties'].value,
            'form': request.form['form'].value,
            'type': request.form['type'].value,
            '@startwith':prev.first, '@pagesize':prev.size})"
           i18n:translate="" >&lt;&lt; previous</a>
        &nbsp;
       </th>
       <th i18n:translate=""><span tal:replace="batch/start" i18n:name="start"
        />..<span tal:replace="python: batch.start + batch.length -1" i18n:name="end"
        /> out of <span tal:replace="batch/sequence_length" i18n:name="total"
        />
       </th>
       <th>
        <a tal:define="next batch/next" tal:condition="next"
           tal:attributes="href python:request.indexargs_url(request.classname,
           {'@template':'help', 'property': request.form['property'].value,
            'properties': request.form['properties'].value,
            'form': request.form['form'].value,
            'type': request.form['type'].value,
            '@startwith':next.first, '@pagesize':next.size})"
           i18n:translate="" >next &gt;&gt;</a>
        &nbsp;
       </th>
      </tr>
     </table>

     <table class="classhelp">
       <tr>
           <th tal:repeat="prop props" tal:content="prop" i18n:translate=""></th>
       </tr>
       <tr tal:repeat="item batch">
         <tal:block tal:define="attr python:item[props[0]]" >
             <td tal:repeat="prop props">
                 <label class="classhelp-label"
                        tal:attributes="for string:id_$attr"
                        tal:content="structure python:item[prop]"></label>
             </td>
           </tal:block>
       </tr>
       <tr>
           <th tal:repeat="prop props" tal:content="prop" i18n:translate=""></th>
       </tr>
     </table>
 </tal:block>
 </tal:block>
</tal:block> <!-- content -->
</tal:block>
<!-- SHA: 2bd0cc6692e128bc1f8caf339cc4178f86c50002 -->
