#breadcrumb {
    color: black;
    font-size: medium;
}

/* layout*/
body 
{
  font-family: sans-serif, Arial, Helvetica;
  background-color: white;
  color: #333;
  margin:0;
  padding: 0 3em 0 13em;
  font-size: small;
}
body > .header { margin: 0 0 0 -13em;}
body > .footer { margin: 0 0 0 -13em; clear:both;}
body > .navigation 
{
  margin-left: -13em;
  width: 13em;
  float: left;
}
body > .content 
{
  width: 80%;
  margin: 0;
}
body > .header > #searchbox { position: absolute; right: 1em; top: 1em;}

/* style */

.footer { padding: 1em;}

:link { color: #11b; text-decoration: none;}
:visited { color: #11b; text-decoration: none;}

.header h1 { margin-left: 1em; }

body
{
  font-family: sans-serif, Arial, Helvetica;
  background-color: #f5f5f5;
  color: #333;
}

.menu {
    padding: 0; margin-right: 1em;
    font-size: medium;
}
.menu ul 
{
  padding: 0;
  margin: 0;
}
.menu li
{
  margin: 5pt 0;
}
.menu > ul > li > *
{ 
  display: block;
  padding: 2pt 2pt 2pt 10pt;
  border: solid thin #dadada;
  background-color:#ffffff;
}
.menu > ul > li.current > *
{ 
  background-color:#dddddd;
}

.menu ul li:first-child { margin-top:0;}
.menu ul { list-style-type:none;}

/* sub-menus are indented */ 
.menu > ul > li > ul,
.menu > ul > li.current > ul
{
  border: none;
  background-color: inherit;
  margin: 0;
}
.menu ul ul 
{
  margin-left: 2em;
  font-size: smaller;
  margin: 0 0 0 5pt;
}

/* sub-menu items draw a separator */
.menu ul ul > li 
{  
  margin: 0;
  padding: 0;
  border: none;
  border-top: solid thin #dadada;
  background-color: inherit;
}
.menu ul ul > li:first-child
{  
  border-top: none;
}

.footer
{
  font-size: small;
  text-align: center;
  color: lightgrey;
}

.content
{ 
  padding: 1em;
  border: solid thin #dadada;
  background-color: #ffffff;
}

#search { text-align: right; }

p.ok-message 
{
  background-color: #eeffee;
  border: 1px solid #009900;
  padding: 5px;
  color: #009900;
  font-weight: bold;
}
p.error-message 
{
  background-color: #ffeeee;
  border: 1px solid #990000;
  padding: 5px;
  color: #990000;
  font-weight: bold;
}

table
{ 
  /* border-collapse: collapse; */
  border-spacing: 1px;
  width: 100%;
  background-color: #fafafa;
}

th {
  border: 1px solid gray;
  font-size: x-small;
}

td {
  border: 1px solid #fff;
}

td.content {
    font-size: medium;
    background: #eee;
    padding: 5px;
}

table.list td {
  padding-left: 5px;
}

tr.odd { background-color:#f5f5f5; }

input, textarea { border-width: 1px; }
/* SHA: 272586daa9b4577712a034ae564c43b26e29a345 */
