#search { text-align: right; }

p.ok-message 
{
  background-color: #eeffee;
  border: 1px solid #009900;
  padding: 5px;
  color: #009900;
  font-weight: bold;
}
p.error-message 
{
  background-color: #ffeeee;
  border: 1px solid #990000;
  padding: 5px;
  color: #990000;
  font-weight: bold;
}

tr.odd { background-color:#f5f5f5; }
/* SHA: f1f33d02a77077b65a8104586a3cae65597f7a88 */
